<div class="navbar">

    <div class="search-bar">
        <input type="text" placeholder="Search for knowledge">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="icons">
        <a href="#" id="browse-b">Home</a>
        <a href="#" id="browse-b">Browse</a>
        <a href="#" id="browse-b">Dashboard</a>
        <i class="fa-regular fa-bell"></i>
        <i class="fa-regular fa-envelope"></i>
        <img src="https://avatar.iran.liara.run/public" alt="User Profile" width="40px" height="40px">
    </div>
</div>
